<div class="alert alert-info" ng-if="getNoOfParticipants()==0" translate="PARTICIPANTS.WARNINGS.NO_PARTICIPANTS_AND_TRANSMITTERS"></div>

<div class="alert alert-danger" ng-if="!isHostInConference() && !((room.participants|filter:{host:false}).length===0)">
    <b translate="PARTICIPANTS.WARNINGS.PARTICIPANTS_BUT_NO_TRANSMITTER_TITLE"></b>
    <ol>
        <li translate="PARTICIPANTS.WARNINGS.PARTICIPANTS_BUT_NO_TRANSMITTER_TEXT1"></li>
        <li translate="PARTICIPANTS.WARNINGS.PARTICIPANTS_BUT_NO_TRANSMITTER_TEXT2" translate-values="{phoneNumber:'{{currentRoom.phoneNumber}}'}"></li>
        <li translate="PARTICIPANTS.WARNINGS.PARTICIPANTS_BUT_NO_TRANSMITTER_TEXT3"></li>
    </ol>
</div>
<h3>room:{{room}}
    <span translate="PARTICIPANTS.PARTICIPANTS" translate-values="{noOfParticipants:(room.participants|filter:{host:false}).length}"></span>
    <small class="pull-right" ng-repeat="participant in room.participants | filter:{host:true}" ng-animate=" 'animate' ">{{participant.name ? participant.name : 'No name'}} &bull; 
        <!-- HOST INFO -->
        <a href="#" class="text-danger" ng-click="kickParticipant(participant.channel)" title="{{'PARTICIPANTS.ABORT_TRANSMISSION' | translate}}"> 
            {{'PARTICIPANTS.ABORT_TRANSMISSION' | translate}} <span class="glyphicon glyphicon-off"></span>
        </a>
    </small>
</h3>
<table class="table table-striped table-hover table-condensed participantsTable">
    <thead>
        <tr>
            <th width="160px"><span>{{'REPORT.NUMBER' | translate}}</span></th>
            <th><span>{{'REPORT.NAME' | translate}}</span></th>
            <th width="70px"><span>{{'REPORT.CALLS' | translate}}</span></th>
            <th width="70px"><span>{{'REPORT.MINUTES' | translate}}</span></th>
            <th width="100px"></th>
        </tr>
    </thead>
    <tbody>
        
        <tr ng-if="!((room.participants|filter:{host:false}).length>0)">
            <td colspan="5">{{'PARTICIPANTS.INFO.NO_PARTICIPANTS' | translate}}</td>
        </tr>
        
        <tr ng-repeat="participant in room.participants | filter:{host:false}">
            <td class="participantNumber" data-type="participant-number" data-id="{{participant.channel}}" data-number="{{participant.phoneNumber}}">
                <bt-number-icon type="{{participant.type}}"></bt-number-icon>
                <span ng-if="participant.type!=='Unknown'">{{participant.phoneNumber | telephone}}</span>
                <span ng-if="participant.type==='Unknown'">{{participant.phoneNumber}}</span>
            </td>
            <td class="participantName">
                <a ng-if="!(participant.name.length>0)" ng-click="changeName(participant.phoneNumber, participant.name)">({{'PARTICIPANTS.ENTER_NAME' | translate}})</a>
                {{participant.name}}
                <a ng-if="!participant.muted" ng-click="muteParticipant(participant.channel, true)" class="label label-warning" translate="PARTICIPANTS.INFO.UNMUTED"></a>
                <a ng-if="participant.commentRequested" ng-click="muteParticipant(participant.channel, false)" class="label label-primary" bt-comment-request-highlight participant='participant'>{{'PARTICIPANTS.WANTS_TO_COMMENT' | translate}}</a>
            </td>
            <td class="participantHistory">
                {{noOfCallsForCallerId(participant.callerId)}}
            </td>
            <td class="participantHistory">
                <bt-duration since="participant.dateJoined"></bt-duration>
            </td>
            <td class="participantOptions">
                <button ng-click="changeName(participant.phoneNumber, participant.name)" title="{{'PARTICIPANTS.EDIT' | translate}}">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button ng-click="unmuteParticipant(participant.channel)" ng-if="isHostInConference()" ng-if="participant.muted" title="{{'PARTICIPANTS.UNMUTE' | translate}}">
                    <span class="glyphicon glyphicon-comment"></span>
                </button>
                <button ng-click="muteParticipant(participant.channel)" ng-if="isHostInConference()" ng-if="!participant.muted" class="active" title="{{'PARTICIPANTS.MUTE' | translate}}">
                    <span class="glyphicon glyphicon-comment"></span>
                </button>
                <button ng-click="kickParticipant(participant.channel)" title="{{'PARTICIPANTS.KICK' | translate}}">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </td>
        </tr>
    </tbody>
</table>