<table class="table table-striped table-hover table-condensed participantsTable">
    <thead>
    <tr>
        <th colspan="2" class="participantHall">
            <span class="glyphicon glyphicon-plus-sign"></span> {{room.displayName}}
            <span class="pull-right">
                <span class="label label-default">{{room.participants.length}}</span>
                <span class="label label-default"><span class="glyphicon glyphicon-earphone"></span> {{noOfRegularPhones}}<!-- ordinary callers --></span>
                <span class="label label-default"><span class="glyphicon glyphicon-hdd"></span> {{noOfSipPhones}}<!-- computer callers --></span>
                <span class="label label-warning"><span class="glyphicon glyphicon-comment"></span> {{noOfOpenMicrophones}}<!-- open microphones --></span>
                <span class="label label-primary"><span class="glyphicon glyphicon-hand-up"></span> {{noOfCommentRequests}}<!-- commentrequests --></span>
                <span class="label label-danger"><span class="glyphicon glyphicon-warning-sign"></span> {{noOfMissingNames}}<!-- missing names --></span>
            </span>
        </th>
    </tr>
    </thead>
    <tbody class="hidden">
        <tr ng-repeat="participant in room.participants" ng-class="{warning:!participant.muted, info:participant.commentRequested,danger:!(participant.name.length>0)}">
            <td class="participantNumber"><bt-iconifiednumber number="{{participant.phoneNumber}}"/></td>
            <td class="participantName">
                {{participant.name}}
                <span ng-hide="participant.muted" class="label label-warning">Svarmikrofon åben</span>
                <span ng-show="participant.commentRequested" class="label label-primary">Ønsker at svare</span>
            </td>
        </tr>
    </tbody>
</table>
