<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">×</button>
    <h4 class="modal-title" id="myModalLabel">Rediger lytterens navn</h4>  <!-- EN: Edit listeners name -->
</div>
<form id="editParticipant">
    <div class="modal-body">
        <p class="text-muted">{{data.phoneNumber}}</p>
        <input type="text" id="participantEditName" class="form-control" ng-model="data.name">
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success" ng-click="ok()"><span class="glyphicon glyphicon-ok"></span></button>
        <button type="button" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove"></span></button>
    </div>
</form>
