<h3>Afsluttede opkald <a href="#" class="btn btn-link btn-sm pull-right">Slet historik <span class="glyphicon glyphicon-trash"></span></a></h3>
<table class="table table-striped table-hover table-condensed historyTable">
    <thead>
    <tr>
        <th><span class="sortable" ng-click="predicate = 'phoneNumber'; reverse=!reverse">{{'REPORT.NUMBER' | translate}}</span></th>
        <th><span class="sortable" ng-click="predicate = 'name'; reverse=!reverse">{{'REPORT.NAME' | translate}}</span></th>
        <th><span class="sortable sorting" ng-click="predicate = 'firstCallTimestamp'; reverse=!reverse">{{'REPORT.FIRST_CALL' | translate}}</span></th>
        <th><span class="sortable" ng-click="predicate = 'numberOfCalls'; reverse=!reverse">{{'REPORT.CALLS' | translate}}</span></th>
        <th><span class="sortable" ng-click="predicate = 'totalDuration'; reverse=!reverse">{{'REPORT.MINUTES' | translate}}</span></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="entry in report | orderBy:predicate:reverse">
        <td class="participantNumber">{{entry.phoneNumber}}</td>
        <td class="participantName">{{entry.name}}</td>
        <td class="participantHistory">{{entry.firstCallTimestamp | date:'short'}}</td>
        <td class="participantHistory">{{entry.numberOfCalls}}</td>
        <td class="participantHistory">{{entry.totalDuration/60 | number:2 }}</td>
        <td class="participantOptions"><button ng-click="changeName(entry)" title="Rediger navn"><span class="glyphicon glyphicon-pencil"></span></button></td>
    </tr>
    </tbody>
</table>
