<div class="alert alert-info" ng-class="{'hidden':status!=='ok'}" translate="REQUEST_PASSWORD.SUCCESS"></div>
<div class="alert alert-danger" ng-class="{'hidden':status!=='error'}" translate="REQUEST_PASSWORD.ERROR"></div>
<div class="row">{{locale}}
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
        <form name="requestForm">
            <div class="form-group" ng-class="{'has-error':!requestForm.name.$valid}">
                <label translate="REQUEST_PASSWORD.NAME"></label>
                <input type="text" class="form-control" ng-model="request.name" name="name" ng-required="true" ng-pattern="/^([\w]{2,} ([\w]{2,} )*[\w]{2,})$/">
            </div>
            <div class="form-group" ng-class="{'has-error':!requestForm.phoneNumber.$valid}">
                <label translate="REQUEST_PASSWORD.PHONENUMBER"></label>
                <input type="tel" international="true" class="form-control" name="phoneNumber" ng-model="request.phoneNumber" ng-required="true"  placeholder="+45">
            </div>
            <div class="form-group" ng-class="{'has-error':!requestForm.email.$valid}">
                <label translate="REQUEST_PASSWORD.EMAIL"></label>
                <input type="email" class="form-control" ng-model="request.email" name="email" ng-required="true" >
            </div>
            <div class="form-group" ng-class="{'has-error':!requestForm.cityOfHall.$valid}">
                <label translate="REQUEST_PASSWORD.CITY_OF_HALL"></label>
                <input type="text" class="form-control" ng-model="request.cityOfHall" name="cityOfHall" ng-required="true" >
            </div>
            <div class="form-group" ng-class="{'has-error':!requestForm.phoneNumberOfHall.$valid}">
                <label translate="REQUEST_PASSWORD.PHONENUMBER_OF_HALL"></label>
                <input type="tel" international="true" class="form-control" name="phoneNumberOfHall" ng-model="request.phoneNumberOfHall" ng-required="true" placeholder="+45" >
            </div>
            
            <button type="submit" ng-click="send()" ng-disabled="!requestForm.$valid"  class="btn btn-primary" translate="GENERAL.OK"></button>
            <button ng-click="cancel()" class="btn btn-default" translate="GENERAL.CANCEL"></button>
        </form>
    </div>
</div>