<div class="row">
    <div class="col-sm-4">
        <div class="list-group">
            <a class="list-group-item active" href="#/settings" translate="SETTINGS.GENERAL.TITLE"></a>
            <a class="list-group-item" href="#/settings/create-listener" translate="SETTINGS.CREATE_SIP_ACCOUNT.TITLE"></a>
            <a class="list-group-item" href="#/settings/contact" translate="SETTINGS.CONTACT.TITLE"></a>
        </div>
    </div>
    <div class="col-sm-8">
        <h3>{{'SETTINGS.GENERAL.TITLE' | translate}}</h3>
        <p translate="SETTINGS.GENERAL.LOGGED_IN_AS" translate-values='{ name: currentRoom.name}'></b>.</p>
        <p>
            <span translate="SETTINGS.GENERAL.TECHNICALLY_RESPONSIBLE" translate-values='{ name: currentRoom.contact.name}'></span>
            (<a translate="SETTINGS.GENERAL.CONTACT_LINK" translate-values='{ name: currentRoom.contact.name}' href="#/settings/contact" style="cursor: pointer;"></a>).
        </p>
        <br>
        <h4 translate="SETTINGS.GENERAL.FIND_HELP"></h4>
        <p translate="SETTINGS.GENERAL.FIND_HELP_DESC"></p>
    </div>


</div>
