<div class="row">
    <div class="col-sm-4">
        <div class="list-group">
            <a class="list-group-item" href="#/settings" translate="SETTINGS.GENERAL.TITLE"></a>
            <!--<a class="list-group-item" href="/settings-hall.html">Salen</a>-->
            <a class="list-group-item active" href="#/settings/create-listener" translate="SETTINGS.CREATE_SIP_ACCOUNT.TITLE"></a>
            <!--<a class="list-group-item" href="/settings-edit.html">Rediger lytter</a>-->
            <a class="list-group-item" href="#/settings/contact" translate="SETTINGS.CONTACT.TITLE"></a>
        </div>
    </div>


    <div class="col-sm-8">
        <h3 translate="SETTINGS.CREATE_SIP_ACCOUNT.TITLE"></h3>
        <p translate="SETTINGS.CREATE_SIP_ACCOUNT.DESCRIPTION"></p>

        <div class="alert alert-success" ng-show="status==='success'" translate="SETTINGS.CREATE_SIP_ACCOUNT.ALERT_SUCCESS" translate-values="{name:created.account.name, phoneNumber:created.account.phoneNumber, email: created.account.email}"></div>
        <div class="alert alert-danger" ng-show="status==='error'" translate="SETTINGS.CREATE_SIP_ACCOUNT.ALERT_ERROR"></div>
        <!--div class="alert alert-danger" ng-show="status==='invalid'">
            Feltet [input name] er ikke udfyldt korrekt. Tjek oplysningerne og prøv igen.
        </div-->

        <form role="form" novalidate name="createForm">
            <div class="form-group" ng-class="{'has-error':!createForm.name.$valid}">
                <label translate="SETTINGS.CREATE_SIP_ACCOUNT.TITLE_NAME"></label>
                <input type="text" class="form-control" ng-model="user.name" name="name" placeholder="{{'SETTINGS.CREATE_SIP_ACCOUNT.PLACEHOLDER_NAME' | translate}}" ng-required="true" ng-pattern="/^([^\s]{2,} ([^\s]{2,} )*[^\s]{2,})$/">
            </div>
            <div class="form-group" ng-class="{'has-error':!createForm.phoneNumber.$valid}">
                <label translate="SETTINGS.CREATE_SIP_ACCOUNT.TITLE_PHONE"></label>
                <input type="tel" international="true" class="form-control" ng-model="user.phoneNumber" name="phoneNumber" placeholder="+{{currentRoom.countryCallingCode}}" ng-required="true" ng-change="onPhoneNumberChanged()">
                <span class="help-block" translate="SETTINGS.CREATE_SIP_ACCOUNT.DESCRIPTION_PHONE"></span>
            </div>
            <div class="form-group" ng-class="{'has-error':!createForm.email.$valid}">
                <label translate="SETTINGS.CREATE_SIP_ACCOUNT.TITLE_EMAIL"></label>
                <input type="email" class="form-control" ng-model="user.email" name="email" placeholder="{{'SETTINGS.CREATE_SIP_ACCOUNT.PLACEHOLDER_EMAIL' | translate}}" ng-required="true">
                <span class="help-block" translate="SETTINGS.CREATE_SIP_ACCOUNT.DESCRIPTION_EMAIL"></span>
            </div>
            <div class="form-group" ng-class="{'has-error':!createForm.mailtext.$valid}">
                <label translate="SETTINGS.CREATE_SIP_ACCOUNT.TITLE_MAILTEXT"></label>
                <textarea class="form-control" ng-model="mailText" name="mailtext" ng-required="true" ng-pattern="mailTextPattern"></textarea>
                <span class="help-block" translate="SETTINGS.CREATE_SIP_ACCOUNT.DESCRIPTION_MAILTEXT"></span>
            </div>
            <button type="button" class="btn btn-success" ng-disabled="!createForm.$valid" ng-click="createUser()"><span class="glyphicon glyphicon-ok"></span></button>
        </form>
    </div>


</div>
