<div class="row">
    <div class="col-sm-4">
        <div class="list-group">
            <a class="list-group-item" ng-class="{active: selectedView==='settings'}" ng-click="selectedView='settings'">Indstillinger</a>
            <!--<a class="list-group-item" href="/settings-hall.html">Salen</a>-->
            <a class="list-group-item" ng-class="{active: selectedView==='createListener'}" ng-click="selectedView='createListener'">Opret computer-lytter</a>
            <!--<a class="list-group-item" href="/settings-edit.html">Rediger lytter</a>-->
        </div>
    </div>
    <div class="col-sm-8" ng-show="selectedView==='settings'">
        <h3>Indstillinger</h3>
        <p>Der er logget ind som <b>{{currentRoom.name}}</b>.</p>
        <p>Den teknisk ansvarlige for denne sal er <b>{{currentRoom.contact.name}}</b> (<a ng-click="selectedView='contactPerson'" style="cursor: pointer;">se kontaktinformation</a>).</p>
        <br>
        <h4>Find hjælp</h4>
        <p>Klik på <span class="glyphicon glyphicon-question-sign"></span> i toppen af siden hvis du har brug for hjælp.</p>
    </div>

    <div class="col-sm-8" ng-show="selectedView==='createListener'">
        <h3>Opret computer-lytter</h3>
        <p>Hvis en ønsker at lytte til møderne via en computer, skal der oprettes en computer-konto som knyttes til lytterens mobil- eller telefonnummer. Computer-lyttere vises med <span class="glyphicon glyphicon-hdd"></span> på status-siden. Computer-konti der ikke har ringet op i et år, slettes automatisk. Hvis lytteren har mistet sit kodeord til computer-kontoen, skal den oprettes igen.</p>

        <div class="alert alert-success" ng-show="status==='success'">
            <b>Success!</b> Kontoen blev oprettet og der sendt en e-mail til den angivne e-mail-adresse med yderligere oplysninger.
        </div>
        <div class="alert alert-danger" ng-show="status==='error'">
            <b>Systemfejl!</b> Kontoen blev ikke oprettet. Prøv igen om lidt.
        </div>
        <div class="alert alert-danger" ng-show="status==='invalid'">
            Feltet [input name] er ikke udfyldt korrekt. Tjek oplysningerne og prøv igen.
        </div>

        <div class="alert alert-warning" ng-show="status==='alreadyExists'">
            <p>Der er tidligere oprettet en computer-konto med dette telefonnummer. Men du kan slette det gamle kodeord og få tilsendt et nyt kodeord for denne konto - vil du det?</p>
            <p><button class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-ok"></span> Ja</button> <button class="btn btn-default btn-sm"><span class="glyphicon glyphicon-remove"></span> Nej</button></p>
        </div>

        <form role="form" novalidate>
            <div class="form-group">
                <label for="createName">Navn</label>
                <input type="text" class="form-control" ng-model="user.name" placeholder="Fornavn Efternavn">
            </div>
            <div class="form-group">
                <label for="createPhone">Telefonnummer</label>
                <input type="text" class="form-control" ng-model="user.phoneNumber" placeholder="+45" value="+45">
                <span class="help-block">Nummeret gemmes krypteret.</span>
            </div>
            <div class="form-group">
                <label for="createEmail">Send kontooplysninger til</label>
                <input type="email" class="form-control" ng-model="user.email" placeholder="E-mail-adresse">{{user.email}}
                <span class="help-block">Nødvendige oplysninger sendes til denne e-mail-adresse. E-mail-adressen bliver ikke gemt hos TeleSal.</span>
            </div>
            <button type="button" class="btn btn-success" ng-click="createUser()"><span class="glyphicon glyphicon-ok"></span></button>
        </form>
    </div>

    <div class="col-sm-8" ng-show="selectedView==='contactPerson'">
        <h3>Salens teknisk ansvarlige</h3>
        <p>Der er kun én teknisk ansvarlig for hver mødesal, uanset hvor mange menigheder der benytter den. Den teknisk ansvarlige udnævnes af rigssalsudvalget.</p>

        <div class="alert alert-success" ng-show="status==='success'">
            <b>Success!</b> Ændringerne blev gemt.
        </div>
        <div class="alert alert-danger" ng-show="status==='error'">
            <b>Fejl!</b> Ændringerne blev ikke gemt. Prøv igen om lidt. 
        </div>
        <div class="alert alert-danger" ng-show="status==='invalid'">
            Feltet [input name] er ikke udfyldt korrekt.
        </div>

        <div class="alert alert-warning" ng-show="status==='warning'">
            <p>Der er kun én teknisk ansvarlig for Telesal, uanset hvor mange menigheder der benytter denne mødesal. Er dette det korrekte navn, mobiltelefonnummer og e-mail-adresse på den som rigssalsudvalget har udnævnt som teknisk ansvarlig for Telesal i denne mødesal?</p>
            <p><button class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-ok"></span> Ja</button> <button class="btn btn-default btn-sm"><span class="glyphicon glyphicon-remove"></span> Nej</button></p>
        </div>

        <form role="form" novalidate>
            <div class="form-group">
                <label for="createName">Navn</label>
                <input type="text" class="form-control" ng-model="currentRoom.contact.name" placeholder="Fornavn Efternavn">
            </div>
            <div class="form-group">
                <label for="createPhone">Mobiltelefonnummer </label>
                <input type="text" class="form-control" ng-model="currentRoom.contact.phoneNumber" placeholder="+45">
            </div>
            <div class="form-group">
                <label for="createEmail">E-mail-adresse </label>
                <input type="email" class="form-control" ng-model="currentRoom.contact.email" placeholder="example@mail.com">
            </div>
            <button type="button" class="btn btn-success" ng-click="updateContact()"><span class="glyphicon glyphicon-ok"></span></button>
        </form>
    </div>
</div>
